@model CourseVM
@{
    ViewData["Title"] = "Update";
}
@section css{
<link rel="stylesheet" href="~/assets/css/custom.css" />
<link rel="stylesheet" href="~/assets/css/student.css" />
<link href="~/assets/jquery-editable-select.css" rel="stylesheet">

}

<h2>Update Course </h2>



<form class="create" asp-controller="Course" asp-action="update" method="post"  >
    <input type="hidden" asp-for="CourseId" />
    <div class="form-group">
        <label asp-for="Name"> Course Name:</label><br />
        <input type="text" asp-for="Name"  class="form-control" />
        <br />
        <div class="text-danger font-weight-bold" >
            <span asp-validation-for="Name"></span>
        </div>

    </div>
       <div class="form-group">
        <label asp-for="hours">  Cours Hours:</label><br />
        <input type="number" asp-for="hours"  class="form-control" />
        <br />
        <div class="text-danger font-weight-bold" >
            <span asp-validation-for="hours"></span>
        </div>

    </div>
   <div class="form-group">
        <label asp-for="TeacherId"> Choose Course Lecturer:</label><br />
       <select asp-for="TeacherId" asp-items="(SelectList)ViewBag.teachers" class="form-control" style="background-color: white;color: black;">
     <option value="0" selected >
           Select Lecturer
       </option>

       </select>
        <br />
        <div class="text-danger font-weight-bold" >
            <span asp-validation-for="TeacherId"></span>
        </div>

    </div>
       
      
   
    <center>
        <div style="margin-top:-10px;">
        <button type="submit" class="btn btn-primary" >update</button>
        <a asp-controller="Course" asp-action="Index" class="btn btn-success">Back To Home</a>
        </div>
    </center>
</form>
@section js{
    <script src="~/jquery/jquery.js"></script>
    <script src="~/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/assets/jquery.editable-select.js"></script>
<script src="~/assets/Select.js"></script>

}


