@section css{
<link rel="stylesheet" href="~/assets/css/custom.css" />
<link rel="stylesheet" href="~/assets/css/student.css" />

}
<h2>Send E-mail</h2>



<form class="create" asp-controller="Message" asp-action="Index" method="post">

    <center>
   <h4 class="text-danger">@TempData["message"]</h4>
</center>
    <div class="form-group">
         <label>Enter  Mail:</label>
         <input type="email" name="recieveremail"  required class="form-control"/>
    <br />
    </div>
 


     <div class="form-group">
         <label style="margin-top:50px">Enter Your Message:</label>
        <textarea cols="50" rows="5" name="message">

        </textarea>
    <br />
    </div>
             <center>
        <div style="margin-top:-5px;">
        <button type="submit" class="btn btn-warning" style="width:130px">Send<i style="position:absolute" class="mdi mdi-telegram"></i></button>
        </div>
        </center>
</form>